<h1>Listing feed_entries</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Url</th>
      <th>Guid</th>
      <th>Published at</th>
      <th>Summary</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_entries.each do |feed_entry| %>
      <tr>
        <td><%= feed_entry.name %></td>
        <td><%= feed_entry.url %></td>
        <td><%= feed_entry.guid %></td>
        <td><%= feed_entry.published_at %></td>
        <td><%= feed_entry.summary %></td>
        <td><%= feed_entry.content %></td>
        <td><%= link_to 'Show', feed_entry %></td>
        <td><%= link_to 'Edit', edit_feed_entry_path(feed_entry) %></td>
        <td><%= link_to 'Destroy', feed_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed entry', new_feed_entry_path %>
