<h1>Events#index</h1>
<%= @upcoming_events.size %><br/>

<div class="container">
	<% @upcoming_events.take(8).each do |e| %>
		<div class="record" data-id="7">
		ID: <%= e["id"] %> Date: <%= e["start"] %> Name: <%= e["name"] %>
		</div>
	<% end %>
</div>

<div class="load-more-container">
<%= image_tag "ajax-loader.gif", style: "display:none;", class: "loading-gif" %>
	<%= link_to "Load More Events", events_path, class: "load-more-events" %>
</div>

